In [1]:
import pandas as pd

In [6]:
hospital_data = pd.read_csv("data/patient-discharge-data-by-principal-diagnosis.csv")

In [7]:
hospital_data.head()

,Year,OSHPD ID,Facility Name,Type of Control,County Name,Principal Diagnosis Group,Count
0,2009,10735,ALAMEDA HOSPITAL,District,ALAMEDA,Infections,243
1,2009,10735,ALAMEDA HOSPITAL,District,ALAMEDA,Neoplasms,68
2,2009,10735,ALAMEDA HOSPITAL,District,ALAMEDA,Endocrine/Metabolism,99
3,2009,10735,ALAMEDA HOSPITAL,District,ALAMEDA,Blood/Blood-forming Organs,54
4,2009,10735,ALAMEDA HOSPITAL,District,ALAMEDA,Psychoses & Neurosis,33

In [8]:
hospital_data.describe()

               Year       OSHPD ID         Count
count  40731.000000   40731.000000  40731.000000
mean    2011.489848  281218.986251    571.990057
std        1.713657  135949.175171    890.239564
min     2009.000000   10735.000000      1.000000
25%     2010.000000  190382.000000     48.000000
50%     2011.000000  301155.000000    227.000000
75%     2013.000000  370977.000000    711.000000
max     2014.000000  580996.000000  10560.000000

In [12]:
#oldest year in data
min(hospital_data.Year)

2009

In [13]:
#most recent year in data
max(hospital_data.Year)

2014

In [23]:
#number of different IDs
pd.unique(hospital_data['OSHPD ID']).size

469

In [24]:
#number of different Facilities
pd.unique(hospital_data['Facility Name']).size

571

In [25]:
#number of different Counties
pd.unique(hospital_data['County Name']).size

56

In [27]:
#number of different Diagnosis
pd.unique(hospital_data['Principal Diagnosis Group']).size

19

In [ ]:
#list of different Diagnosis
pd.unique(hospital_data['Principal Diagnosis Group']).size